<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Analysis - US Emissions Data Analysis 1997-2018</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('tableau') }}">Preliminary Analysis</a>
        <a href = "{{ url_for('analysis') }}">Interactive Analysis</a>
        <a href = "{{ url_for('model') }}">Machine Learning Model</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <div class="row bg-dark">
        <div class="col-md-2 bg-dark">
          <div class="well bg-dark">
            <h5>State</h5>
            <!-- <select id="selDataset"></select> -->
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
          <div id="line"></div>
        </div>
      </div>
      </div>
    </div>
    <div class="about" id="#"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script type="text/javascript">
      var sectorVar = JSON.parse('{{ sector_data | tojson | safe }}');
    </script> -->
    <script type="text/javascript">
      var tableData = JSON.parse('{{ master_data | tojson | safe }}')
    </script>
    <script src="../static/js/plots.js"></script>
    <!-- <script src="../static/js/optionSelector.js"></script> -->
    
    
</body>
</html>
