<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model - US Emissions Data Analysis 1997-2018</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('tableau') }}">Preliminary Analysis</a>
        <a href = "{{ url_for('analysis') }}">Interactive Analysis</a>
        <a href = "{{ url_for('model') }}">Machine Learning Model</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <div class="about" id="#"></div>
</body>
</html>