<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model - US Emissions Data Analysis 1997-2018</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <nav class ="navbar navbar-default navbar-fixed-top">
    <div class = "topnav" id="myTopnav">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('tableau') }}">Preliminary Analysis</a>
        <a href = "{{ url_for('analysis') }}">Interactive Analysis</a>
        <a href = "{{ url_for('model') }}" class="active">Machine Learning Model</a>
        <a href="#">About</a>
        <a href="javascript:void(0);" class="icon" onclick="navFunction()">
          <i class="fa fa-bars"></i>
        </a>  
    </div>
  </nav>
    <div class="emgithub-container">
        <div class="emgithub-file">
          <div class="file-data">
            <div class="html-area markdown-body">
                <script src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2FMichaelfr22%2FFinal_Project%2Fblob%2Fmain%2FML_Emission_Year_GDP.ipynb&style=nnfx-dark&type=ipynb&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>
            </div>
          </div>
        </div>
      </div>
    <div class="about" id="#"></div>
    <script src="../static/js/navbar.js"></script>
</body>
<footer>
  <h6 class="instagram">Background Photo by:
    <a href="https://www.instagram.com/kellymlacy/">Kelly</a>
  </h6>
</footer>
</html>